In [1]:
import pandas as pd
import time
import datetime
import requests
import numpy as np

In [2]:

def read_ticker(ticker):
    period1 = int(time.mktime(datetime.datetime(2000, 1, 1, 0, 0).timetuple()))
    period2 = int(time.mktime(datetime.datetime(2023, 6, 26, 23, 59).timetuple()))
    interval = '1d' # 1d, 1m

    query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history'
    df = pd.read_csv(query_string, index_col=0, parse_dates=True)
    return df

In [3]:
FTSE_stock_list = ["III.L",
"ABDN.L",
"ADM.L",
"AAF.L",
"AAL.L",
"ANTO.L",
"AHT.L",
"ABF.L",
"AZN.L",
"AUTO.L",
"AV.L",
"BME.L",
"BT-A.L",
"BDEV.L",
"BEZ.L",
"BKG.L",
"BP.L",
"BATS.L",
"BT-A.L",
"BNZL.L",
"BRBY.L",
"CNA.L",
"CCH.L",
"CPG.L",
"CTEC.L",
"CRH.L",
"CRDA.L",
"DCC.L",
"DGE.L",
"EDV.L",
"ENT.L",
"EXPN.L",
"FCIT.L",
"FLTR.L",
"FRAS.L",
"FRES.L",
"GLEN.L",
"GSK.L",
"HLN.L",
"HLMA.L",
"HL.L",
"HSX.L",
"HSBA.L",
"IMI.L",
"IMB.L",
"INF.L",
"IHG.L",
"IAG.L",
"ITRK.L",
"JD.L",
"JMAT.L",
"KGF.L",
"LAND.L",
"LGEN.L",
"LLOY.L",
"LSEG.L",
"MNG.L",
"MRO.L",
"MNDI.L",
"NG.L",
"NWG.L",
"NXT.L",
"OCDO.L",
"PSON.L",
"PSH.L",
"PSN.L",
"PHNX.L",
"PRU.L",
"RKT.L",
"REL.L",
"RTO.L",
"RMV.L",
"RIO.L",
"RR.L",
"RS1.L",
"SGE.L",
"SBRY.L",
"SDR.L",
"SMT.L",
"SGRO.L",
"SVT.L",
"SHEL.L",
"SN.L",
"SMDS.L",
"SMIN.L",
"SKG.L",
"SPX.L",
"SSE.L",
"STJ.L",
"STAN.L",
"TW.L",
"TSCO.L",
"ULVR.L",
"UTG.L",
"UU.L",
"VOD.L",
"WEIR.L",
"WTB.L",
"WPP.L",
"^FTSE"]

In [4]:

df_list = {}

for ticker in FTSE_stock_list:
    print(ticker)
    df_list[ticker] = read_ticker(ticker)

III.L
ABDN.L
ADM.L
AAF.L
AAL.L
ANTO.L
AHT.L
ABF.L
AZN.L
AUTO.L
AV.L
BME.L
BT-A.L
BDEV.L
BEZ.L
BKG.L
BP.L
BATS.L
BT-A.L
BNZL.L
BRBY.L
CNA.L
CCH.L
CPG.L
CTEC.L
CRH.L
CRDA.L
DCC.L
DGE.L
EDV.L
ENT.L
EXPN.L
FCIT.L
FLTR.L
FRAS.L
FRES.L
GLEN.L
GSK.L
HLN.L
HLMA.L
HL.L
HSX.L
HSBA.L
IMI.L
IMB.L
INF.L
IHG.L
IAG.L
ITRK.L
JD.L
JMAT.L
KGF.L
LAND.L
LGEN.L
LLOY.L
LSEG.L
MNG.L
MRO.L
MNDI.L
NG.L
NWG.L
NXT.L
OCDO.L
PSON.L
PSH.L
PSN.L
PHNX.L
PRU.L
RKT.L
REL.L
RTO.L
RMV.L
RIO.L
RR.L
RS1.L
SGE.L
SBRY.L
SDR.L
SMT.L
SGRO.L
SVT.L
SHEL.L
SN.L
SMDS.L
SMIN.L
SKG.L
SPX.L
SSE.L
STJ.L
STAN.L
TW.L
TSCO.L
ULVR.L
UTG.L
UU.L
VOD.L
WEIR.L
WTB.L
WPP.L
^FTSE

In [5]:
for ticker, stock_df in df_list.items():
    print('ticker: {} -> {}'.format(ticker, stock_df.index.min()))

ticker: III.L -> 1999-12-31 00:00:00
ticker: ABDN.L -> 2006-07-10 00:00:00
ticker: ADM.L -> 2004-09-23 00:00:00
ticker: AAF.L -> 2019-06-28 00:00:00
ticker: AAL.L -> 1999-12-31 00:00:00
ticker: ANTO.L -> 1999-12-31 00:00:00
ticker: AHT.L -> 1999-12-31 00:00:00
ticker: ABF.L -> 1999-12-31 00:00:00
ticker: AZN.L -> 1999-12-31 00:00:00
ticker: AUTO.L -> 2015-03-19 00:00:00
ticker: AV.L -> 1999-12-31 00:00:00
ticker: BME.L -> 2014-06-12 00:00:00
ticker: BT-A.L -> 1999-12-31 00:00:00
ticker: BDEV.L -> 1999-12-31 00:00:00
ticker: BEZ.L -> 2002-11-12 00:00:00
ticker: BKG.L -> 1999-12-31 00:00:00
ticker: BP.L -> 1999-12-31 00:00:00
ticker: BATS.L -> 1999-12-31 00:00:00
ticker: BNZL.L -> 1999-12-31 00:00:00
ticker: BRBY.L -> 2002-07-12 00:00:00
ticker: CNA.L -> 1999-12-31 00:00:00
ticker: CCH.L -> 2013-04-29 00:00:00
ticker: CPG.L -> 2000-01-04 00:00:00
ticker: CTEC.L -> 2016-10-26 00:00:00
ticker: CRH.L -> 1999-12-31 00:00:00
ticker: CRDA.L -> 1999-12-31 00:00:00
ticker: DCC.L -> 2000-01-04 00:00:00
ticker: DGE.L -> 1999-12-31 00:00:00
ticker: EDV.L -> 2018-01-30 00:00:00
ticker: ENT.L -> 2004-12-21 00:00:00
ticker: EXPN.L -> 2006-10-09 00:00:00
ticker: FCIT.L -> 1999-12-31 00:00:00
ticker: FLTR.L -> 2000-12-07 00:00:00
ticker: FRAS.L -> 2002-07-31 00:00:00
ticker: FRES.L -> 2008-05-09 00:00:00
ticker: GLEN.L -> 2011-05-19 00:00:00
ticker: GSK.L -> 1999-12-31 00:00:00
ticker: HLN.L -> 2022-07-18 00:00:00
ticker: HLMA.L -> 1999-12-31 00:00:00
ticker: HL.L -> 2007-05-15 00:00:00
ticker: HSX.L -> 2000-01-04 00:00:00
ticker: HSBA.L -> 1999-12-31 00:00:00
ticker: IMI.L -> 1999-12-31 00:00:00
ticker: IMB.L -> 1999-12-31 00:00:00
ticker: INF.L -> 1999-12-31 00:00:00
ticker: IHG.L -> 2003-03-31 00:00:00
ticker: IAG.L -> 2003-01-02 00:00:00
ticker: ITRK.L -> 2002-05-24 00:00:00
ticker: JD.L -> 1999-12-31 00:00:00
ticker: JMAT.L -> 1999-12-31 00:00:00
ticker: KGF.L -> 1999-12-31 00:00:00
ticker: LAND.L -> 1999-12-31 00:00:00
ticker: LGEN.L -> 1999-12-31 00:00:00
ticker: LLOY.L -> 1999-12-31 00:00:00
ticker: LSEG.L -> 2001-07-20 00:00:00
ticker: MNG.L -> 2019-10-21 00:00:00
ticker: MRO.L -> 2003-10-28 00:00:00
ticker: MNDI.L -> 2007-06-29 00:00:00
ticker: NG.L -> 1999-12-31 00:00:00
ticker: NWG.L -> 1999-12-31 00:00:00
ticker: NXT.L -> 1999-12-31 00:00:00
ticker: OCDO.L -> 2010-07-21 00:00:00
ticker: PSON.L -> 1999-12-31 00:00:00
ticker: PSH.L -> 2017-03-10 00:00:00
ticker: PSN.L -> 1999-12-31 00:00:00
ticker: PHNX.L -> 2009-11-17 00:00:00
ticker: PRU.L -> 1999-12-31 00:00:00
ticker: RKT.L -> 1999-12-31 00:00:00
ticker: REL.L -> 1999-12-31 00:00:00
ticker: RTO.L -> 1999-12-31 00:00:00
ticker: RMV.L -> 2006-03-10 00:00:00
ticker: RIO.L -> 1999-12-31 00:00:00
ticker: RR.L -> 1999-12-31 00:00:00
ticker: RS1.L -> 1999-12-31 00:00:00
ticker: SGE.L -> 1999-12-31 00:00:00
ticker: SBRY.L -> 1999-12-31 00:00:00
ticker: SDR.L -> 1999-12-31 00:00:00
ticker: SMT.L -> 1999-12-31 00:00:00
ticker: SGRO.L -> 1999-12-31 00:00:00
ticker: SVT.L -> 1999-12-31 00:00:00
ticker: SHEL.L -> 2005-07-15 00:00:00
ticker: SN.L -> 1999-12-31 00:00:00
ticker: SMDS.L -> 1999-12-31 00:00:00
ticker: SMIN.L -> 1999-12-31 00:00:00
ticker: SKG.L -> 2007-03-14 00:00:00
ticker: SPX.L -> 1999-12-31 00:00:00
ticker: SSE.L -> 1999-12-31 00:00:00
ticker: STJ.L -> 1999-12-31 00:00:00
ticker: STAN.L -> 1999-12-31 00:00:00
ticker: TW.L -> 1999-12-31 00:00:00
ticker: TSCO.L -> 1999-12-31 00:00:00
ticker: ULVR.L -> 1999-12-31 00:00:00
ticker: UTG.L -> 1999-12-31 00:00:00
ticker: UU.L -> 1999-12-31 00:00:00
ticker: VOD.L -> 1999-12-31 00:00:00
ticker: WEIR.L -> 1999-12-31 00:00:00
ticker: WTB.L -> 1999-12-31 00:00:00
ticker: WPP.L -> 1999-12-31 00:00:00
ticker: ^FTSE -> 2000-01-04 00:00:00

In [6]:
min_date = max(list([stock_df.index.min() for stock_df in df_list.values()]))
max_date = min(list([stock_df.index.max() for stock_df in df_list.values()]))

In [7]:
min_date

Timestamp('2022-07-18 00:00:00')

In [8]:
key_list = [k for k in df_list.keys()]
for key in key_list:
    current_df = df_list[key]
    print(f'Ticker {key}: {current_df.index.min()}')
    if current_df.index.min().year >= 2013:
        del df_list[key]
        print(f'Deleted Ticker {key}')

Ticker III.L: 1999-12-31 00:00:00
Ticker ABDN.L: 2006-07-10 00:00:00
Ticker ADM.L: 2004-09-23 00:00:00
Ticker AAF.L: 2019-06-28 00:00:00
Deleted Ticker AAF.L
Ticker AAL.L: 1999-12-31 00:00:00
Ticker ANTO.L: 1999-12-31 00:00:00
Ticker AHT.L: 1999-12-31 00:00:00
Ticker ABF.L: 1999-12-31 00:00:00
Ticker AZN.L: 1999-12-31 00:00:00
Ticker AUTO.L: 2015-03-19 00:00:00
Deleted Ticker AUTO.L
Ticker AV.L: 1999-12-31 00:00:00
Ticker BME.L: 2014-06-12 00:00:00
Deleted Ticker BME.L
Ticker BT-A.L: 1999-12-31 00:00:00
Ticker BDEV.L: 1999-12-31 00:00:00
Ticker BEZ.L: 2002-11-12 00:00:00
Ticker BKG.L: 1999-12-31 00:00:00
Ticker BP.L: 1999-12-31 00:00:00
Ticker BATS.L: 1999-12-31 00:00:00
Ticker BNZL.L: 1999-12-31 00:00:00
Ticker BRBY.L: 2002-07-12 00:00:00
Ticker CNA.L: 1999-12-31 00:00:00
Ticker CCH.L: 2013-04-29 00:00:00
Deleted Ticker CCH.L
Ticker CPG.L: 2000-01-04 00:00:00
Ticker CTEC.L: 2016-10-26 00:00:00
Deleted Ticker CTEC.L
Ticker CRH.L: 1999-12-31 00:00:00
Ticker CRDA.L: 1999-12-31 00:00:00
Ticker DCC.L: 2000-01-04 00:00:00
Ticker DGE.L: 1999-12-31 00:00:00
Ticker EDV.L: 2018-01-30 00:00:00
Deleted Ticker EDV.L
Ticker ENT.L: 2004-12-21 00:00:00
Ticker EXPN.L: 2006-10-09 00:00:00
Ticker FCIT.L: 1999-12-31 00:00:00
Ticker FLTR.L: 2000-12-07 00:00:00
Ticker FRAS.L: 2002-07-31 00:00:00
Ticker FRES.L: 2008-05-09 00:00:00
Ticker GLEN.L: 2011-05-19 00:00:00
Ticker GSK.L: 1999-12-31 00:00:00
Ticker HLN.L: 2022-07-18 00:00:00
Deleted Ticker HLN.L
Ticker HLMA.L: 1999-12-31 00:00:00
Ticker HL.L: 2007-05-15 00:00:00
Ticker HSX.L: 2000-01-04 00:00:00
Ticker HSBA.L: 1999-12-31 00:00:00
Ticker IMI.L: 1999-12-31 00:00:00
Ticker IMB.L: 1999-12-31 00:00:00
Ticker INF.L: 1999-12-31 00:00:00
Ticker IHG.L: 2003-03-31 00:00:00
Ticker IAG.L: 2003-01-02 00:00:00
Ticker ITRK.L: 2002-05-24 00:00:00
Ticker JD.L: 1999-12-31 00:00:00
Ticker JMAT.L: 1999-12-31 00:00:00
Ticker KGF.L: 1999-12-31 00:00:00
Ticker LAND.L: 1999-12-31 00:00:00
Ticker LGEN.L: 1999-12-31 00:00:00
Ticker LLOY.L: 1999-12-31 00:00:00
Ticker LSEG.L: 2001-07-20 00:00:00
Ticker MNG.L: 2019-10-21 00:00:00
Deleted Ticker MNG.L
Ticker MRO.L: 2003-10-28 00:00:00
Ticker MNDI.L: 2007-06-29 00:00:00
Ticker NG.L: 1999-12-31 00:00:00
Ticker NWG.L: 1999-12-31 00:00:00
Ticker NXT.L: 1999-12-31 00:00:00
Ticker OCDO.L: 2010-07-21 00:00:00
Ticker PSON.L: 1999-12-31 00:00:00
Ticker PSH.L: 2017-03-10 00:00:00
Deleted Ticker PSH.L
Ticker PSN.L: 1999-12-31 00:00:00
Ticker PHNX.L: 2009-11-17 00:00:00
Ticker PRU.L: 1999-12-31 00:00:00
Ticker RKT.L: 1999-12-31 00:00:00
Ticker REL.L: 1999-12-31 00:00:00
Ticker RTO.L: 1999-12-31 00:00:00
Ticker RMV.L: 2006-03-10 00:00:00
Ticker RIO.L: 1999-12-31 00:00:00
Ticker RR.L: 1999-12-31 00:00:00
Ticker RS1.L: 1999-12-31 00:00:00
Ticker SGE.L: 1999-12-31 00:00:00
Ticker SBRY.L: 1999-12-31 00:00:00
Ticker SDR.L: 1999-12-31 00:00:00
Ticker SMT.L: 1999-12-31 00:00:00
Ticker SGRO.L: 1999-12-31 00:00:00
Ticker SVT.L: 1999-12-31 00:00:00
Ticker SHEL.L: 2005-07-15 00:00:00
Ticker SN.L: 1999-12-31 00:00:00
Ticker SMDS.L: 1999-12-31 00:00:00
Ticker SMIN.L: 1999-12-31 00:00:00
Ticker SKG.L: 2007-03-14 00:00:00
Ticker SPX.L: 1999-12-31 00:00:00
Ticker SSE.L: 1999-12-31 00:00:00
Ticker STJ.L: 1999-12-31 00:00:00
Ticker STAN.L: 1999-12-31 00:00:00
Ticker TW.L: 1999-12-31 00:00:00
Ticker TSCO.L: 1999-12-31 00:00:00
Ticker ULVR.L: 1999-12-31 00:00:00
Ticker UTG.L: 1999-12-31 00:00:00
Ticker UU.L: 1999-12-31 00:00:00
Ticker VOD.L: 1999-12-31 00:00:00
Ticker WEIR.L: 1999-12-31 00:00:00
Ticker WTB.L: 1999-12-31 00:00:00
Ticker WPP.L: 1999-12-31 00:00:00
Ticker ^FTSE: 2000-01-04 00:00:00

In [10]:
index = pd.date_range(start=min_date, end=max_date, freq='D')
stock_price_df = pd.DataFrame(index=index)
for key, ticker_df in df_list.items():
    stock_price_df = pd.concat([stock_price_df, ticker_df[['Close']]], axis=1)
    stock_price_df.rename(columns={'Close': key}, inplace=True)

In [11]:
stock_price_df

,III.L,ABDN.L,ADM.L,AAL.L,ANTO.L,AHT.L,ABF.L,AZN.L,AV.L,BT-A.L,...,TW.L,TSCO.L,ULVR.L,UTG.L,UU.L,VOD.L,WEIR.L,WTB.L,WPP.L,^FTSE
1999-12-31,988.911682,NaN,NaN,1125.284424,86.699997,156.350800,342.50,2505.770020,1313.157837,1053.240723,...,134.000000,238.449905,1011.111084,164.192993,642.299988,365.577393,220.0,834.283325,981.000000,NaN
2000-01-03,988.911682,NaN,NaN,1125.284424,86.699997,156.350800,342.50,2505.770020,1313.157837,1053.240723,...,134.000000,238.449905,1011.111084,164.192993,642.299988,365.577393,220.0,834.283325,981.000000,NaN
2000-01-04,1020.188904,NaN,NaN,1093.836548,86.699997,156.812103,331.75,2395.820068,1226.315674,990.590515,...,138.000000,230.216507,1013.333313,164.192993,620.000000,351.278412,231.0,810.214417,970.000000,6665.899902
2000-01-05,985.231995,NaN,NaN,1103.407715,86.699997,155.428406,337.00,2346.810059,1189.473633,932.119507,...,143.500000,234.016495,1020.000000,164.192993,629.000000,334.238708,237.5,808.234985,875.000000,6535.899902
2000-01-06,961.314209,NaN,NaN,1130.480103,87.000000,153.583603,369.00,2341.939941,1178.947266,848.580688,...,147.000000,234.016495,1053.333252,164.192993,653.500000,324.110291,249.0,817.471985,867.500000,6447.200195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-22,1907.000000,207.300003,2095.0,2331.000000,1493.000000,5442.000000,1936.50,11600.000000,385.799988,129.199997,...,102.699997,248.899994,4057.000000,881.000000,1001.000000,71.900002,1724.5,3355.000000,846.799988,7502.000000
2023-06-23,1857.000000,206.500000,2116.0,2248.000000,1452.500000,5382.000000,1953.00,11422.000000,386.200012,127.500000,...,100.699997,248.800003,4090.000000,857.000000,998.400024,72.690002,1734.5,3271.000000,840.400024,7461.899902
2023-06-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-26,1852.250000,207.100006,2147.0,2270.500000,1471.000000,5352.000000,1944.50,11292.000000,388.500000,127.050003,...,103.099998,252.298203,4055.500000,852.500000,996.000000,70.690002,1739.5,3334.000000,840.200012,7457.799805

In [12]:
stock_price_df.isna().sum()

III.L      108
ABDN.L    1804
ADM.L     1342
AAL.L      109
ANTO.L     108
          ...
VOD.L      109
WEIR.L     109
WTB.L      109
WPP.L      109
^FTSE      160
Length: 90, dtype: int64

In [13]:
stock_price_df.dropna(inplace=True)

In [14]:
stock_price_df

,III.L,ABDN.L,ADM.L,AAL.L,ANTO.L,AHT.L,ABF.L,AZN.L,AV.L,BT-A.L,...,TW.L,TSCO.L,ULVR.L,UTG.L,UU.L,VOD.L,WEIR.L,WTB.L,WPP.L,^FTSE
2011-05-19,290.200012,297.523712,1712.0,2946.855957,1201.0,177.699997,1057.0,3189.5,577.631470,196.399994,...,38.049999,525.033081,1986.0,216.800003,626.500000,180.115005,1899.0,1470.818115,762.000000,5956.000000
2011-05-20,291.399994,296.266602,1712.0,2937.897461,1207.0,177.300003,1090.0,3179.0,573.421021,198.399994,...,38.139999,531.366394,1968.0,217.100006,629.000000,181.314102,1882.0,1473.395508,761.000000,5948.500000
2011-05-23,285.899994,291.377686,1650.0,2817.455078,1160.0,173.800003,1078.0,3124.0,556.973572,194.899994,...,36.610001,525.476379,1948.0,212.500000,613.000000,178.811707,1845.0,1439.889648,746.000000,5835.899902
2011-05-24,283.899994,289.561798,1648.0,2860.257080,1196.0,177.199997,1067.0,3122.5,551.973572,196.600006,...,36.430000,523.449707,1945.0,212.500000,614.500000,176.987106,1843.0,1423.566406,745.000000,5858.399902
2011-05-25,288.200012,290.539612,1688.0,2867.224609,1216.0,172.000000,1062.0,3140.5,556.447327,196.899994,...,36.130001,527.566406,1939.0,213.800003,617.000000,175.788101,1884.0,1416.693359,743.500000,5870.100098
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-20,1983.500000,213.800003,2158.0,2384.500000,1482.5,5372.000000,1952.5,11636.0,393.899994,135.050003,...,108.300003,258.700012,4055.0,907.500000,1043.000000,73.000000,1740.5,3399.000000,858.400024,7569.299805
2023-06-21,1957.000000,213.399994,2131.0,2336.000000,1475.5,5378.000000,1959.5,11586.0,391.899994,131.199997,...,104.500000,258.600006,4070.0,895.500000,1036.500000,72.730003,1735.0,3392.000000,851.799988,7559.200195
2023-06-22,1907.000000,207.300003,2095.0,2331.000000,1493.0,5442.000000,1936.5,11600.0,385.799988,129.199997,...,102.699997,248.899994,4057.0,881.000000,1001.000000,71.900002,1724.5,3355.000000,846.799988,7502.000000
2023-06-23,1857.000000,206.500000,2116.0,2248.000000,1452.5,5382.000000,1953.0,11422.0,386.200012,127.500000,...,100.699997,248.800003,4090.0,857.000000,998.400024,72.690002,1734.5,3271.000000,840.400024,7461.899902
2023-06-26,1852.250000,207.100006,2147.0,2270.500000,1471.0,5352.000000,1944.5,11292.0,388.500000,127.050003,...,103.099998,252.298203,4055.5,852.500000,996.000000,70.690002,1739.5,3334.000000,840.200012,7457.799805

In [15]:
stock_price_df.to_csv('data/FTSE.csv')